    <header>
      <h1>Burgers To Eat</h1>
    </header>

          <div class="form-container">
            <form class="create-form">
                <h3>Order a Burger</h3>
                <div class="form-group">
                  <div class="input-group orderBurger">
                    <input class="input-group-field" id="burger_name" name="burger_name" type="text">
                    <div class="input-group-button">
                     <input type="submit" class="waves-effect waves-light btn add" value="Order">
                    </div>
                  </div>
                </div>
            </form>
          </div>
    
          <div class="column-container">
            <h3>Burgers To Devour: </h3>
            <table>
              <tbody>
                {{#each burgers}}
                    {{#unless devoured}}
                      <tr>
                        {{!-- <td>{{this.id}}</td> --}}
                        <td class="burgerName">{{this.burger_name}}</td>
                        <td>
                        {{!-- <button type="button" class="alert button devour-it" data-id="{{this.id}}">Devour It</button> --}}
                        <a type="button" class="waves-effect waves-light btn devour-it" data-id="{{this.id}}"><i class="material-icons left">restaurant_menu</i>Devour It</a>
                        </td>
                      </tr>
                    {{/unless}}
                  {{/each}}
              </tbody>
            </table>
          </div>
 
          <div class="column-container">
            <h3>Burgers Devoured: </h3>
            <table>
              <tbody>
              {{#each burgers}}
                {{#if devoured}}
                  <tr>
                    {{!-- <td>{{this.id}}</td> --}}
                    <td class="burgerName">{{this.burger_name}}</td>
                    <td>
                    {{!-- <button type="button" class="alert button delete" data-id="{{this.id}}">Delete</button> --}}
                    <a type="button" class="waves-effect waves-light btn delete" data-id="{{this.id}}"><i class="material-icons left">attach_money</i>Pay</a>
                    </td>
                  </tr>
                {{/if}}
              {{/each}}
              </tbody>
            </table>
          </div>


    
    
   
   
 

    
